version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Root@1234 # <-- your password
      MYSQL_DATABASE: two_tier_db
    ports:
      - "3307:3306"                      # host:container
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: flask-app
    restart: always
    ports:
      - "5000:5000"
    environment:
      DB_HOST: mysql                    
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: Root@1234              
      DB_NAME: two_tier_db
    depends_on:
      - mysql

volumes:
  mysql_data:
